.profile-container {
    display: block;
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
}

body {
    background-color: white;
}

.graph {
    height: 15em;
}

.profile-information {
    padding-top: 2em;
}
